.popover {
    position:absolute;
    opacity: 0;
    display:block;
    background:#ffffff;
    width:auto;
    max-width: 500px;
    max-height: 500px;
    box-shadow:0 30px 90px -20px rgba(0,0,0,0.3), 0 0 1px #a2a9b1;
    text-align: left;
    z-index: 10;
    transform: translateY(100%);
    transition: transform .3s cubic-bezier(0.4, 0.0, 1, 1), opacity .3s cubic-bezier(0.4, 0.0, 1, 1);
}

.popover.popover--enabled{
    opacity: 1;
    transform: translateY(0);

}

#cal1{
    position:absolute;
    height:0px;
    width:0px;
    top:100px;
    left:100px;
    overflow:none;
    z-index:-100;
}
#cal2{
    position:absolute;
    height:0px;
    width:0px;
    top:0px;
    left:0px;
    overflow:none;
    z-index:-100;
}

.contentGroup{
    display: flex;
    flex-flow: row-reverse;
}

.popoverImage{
    max-width: 200px;
    max-height: 200px;
    background-size: contain;
}

.popoverText{
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:#777;
}


