:root {
    --sidemenu-width: 240px;
    --sidemenu-width-negative: -240px;
    --primary-color: #009688;
    --primary-text-color: rgba(0, 0, 0, 0.87);
    --secundary-text-color: rgba(0, 0, 0, 0.54);
    --disabled-text-color: rgba(0, 0, 0, 0.38);
}

body{
    height: 100%;
    background-color: #fafafa;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif !important;
    color: var(--primary-text-color);
    height: 100%;
}

.card{
    min-height: 150px;
    width: fit-content;
    border-radius: 2px;
    background-color: #fff;
    margin: 10px;
}

.card--large{
    min-width: 400px;
    width: 40%;
    height: fit-content;
}

@media (max-width: 900px){
    .card--large{
        width: 70%;
        height: fit-content;
    }
}

@media (max-width: 700px){
    .card--large{
        min-width: 400px;
        width: 95%;
        height: fit-content;
    }
}

.form > *{
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    font-size: 13px;

}

.form-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-section.logo{
    justify-content: center;
    width: 100%;
    padding: 0;
}

.logo{
    width: 80%;
    height: 80%;
}

input:not([type="checkbox"]), select{
    color: rgb(117, 117, 117);
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 4px 0;
    width: 200px;
    
}

input:focus,
select:focus{
    color: initial;
    border-bottom: 2px solid #3f51b5;
}

select{
    cursor: pointer;
}

.d-column{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
}

.mdl-shadow--4dp{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}